// Your custom SCSS should be written here...

@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700);
code,tt,pre,kbd,samp,var, pre span {font-family: "Ubuntu Mono"; font-weight: $font-weight-bold;}

a {
  color: #0D7EA3;
}

//Should be using some special units!
pre {
       margin-bottom: $base-line-height;
       margin-left: $base-line-height / 2;

}

dd {
  margin-left: $base-line-height / 2;
}

dl {
  margin-bottom: $base-line-height;
}

#title-masthead {
  color: #083959;
  font-weight: $font-weight-bold;

}

#title-subhead {
  color: $sd-lime;
  font-weight: $font-weight-bold;
}

 #tochead {
  font-weight: $font-weight-thin;
  color: $sd-lime;
 }

#subfoot-subhead {
  color: $sd-lime;
  font-weight: $font-weight-bold;

}

#social {
  @include padding-leader($rhythm-spacing);
  @include adjust-leading-to($rhythm-height);
  @include padding-trailer($rhythm-spacing);
}

#title {
  margin-bottom: $base-line-height / 1.5;

}

h2 {
  color: #A61D24;
}

ul {

  list-style: square inside;
  margin-bottom: $base-line-height;

}

thead,tfoot {
  font-weight: $font-weight-bold
}

table{
  border: 1px solid #F0F8FF;
  margin-bottom: $base-line-height;
}

th, td{
  padding: 4px;
}

th{
 color: #fff;
 background-color: #aaa
}

tr:nth-of-type(odd) td
{
 background-color:#F0F8FF;
 color: black;
}

a:visited {color: #03738C;}
a:link {color: #8C031C; text-decoration: none;}

.container + .container {
  padding: 75px 20px 70px 20px;
}

.container + .container.nopad {
  padding-top: 0;
  padding-bottom: 0;
}

.container.shaded {
  background-color: $shaded-container-color !important;
}

  .container {
    min-width: 0;
    margin-left: 0;
    margin-right: 0;
  }

.nlm {
  margin-left: 0px;
  padding: 0px;
  border: 0;
  }

#upaway {
  @include padding-leader($rhythm-spacing);
  @include adjust-leading-to($rhythm-height);
  @include padding-trailer($rhythm-spacing);
  font-size: $med;
}

#copywood {
  font-size: $norm;
}

p#social a {
  decoration: none;
}

#inner-doc #inner-nav {
  margin-bottom: 40px;
}

#inner-doc #sidebar-nav-holder.fixed {
  top: 10px;
}
@media only screen and (max-width: 768px) {
  #inner-doc #sidebar-nav-holder.fixed {
    width: 100%;
  }
}

#inner-doc #sidebar-nav-holder.end {
  position: absolute;
}

#inner-doc #sidebar-nav {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  #inner-doc #sidebar-nav {
    margin-bottom: 30px;
  }
}

#inner-doc #sidebar-nav li a {
  background: none;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
  transition: .4s;
}

#inner-doc #sidebar-nav li.active a {
  color: #fff;
  background: #3085d6;
}
#inner-doc #sidebar-nav li.active a:hover {
  background: #3085d6;
}

#inner-doc #sidebar-nav a {
  color: #555555;
  display: block;
  padding: 8px 14px;
}
#inner-doc #sidebar-nav a:hover {
  background: #E9E9E9;
}